@use '../constants/colors' as color;
@use '../mixins/text-style' as text;
@use '../mixins/flexbox' as flex;

.gnb-nav {
  $padding: 8px;

  &-list {
    @include flex.flexbox(start);
    margin-left: -$padding;
  }

  &-item {
    margin-right: 24px - ($padding * 2);

    &.is-active,
    &:hover {
      a {
        color: color.$blue;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      @include text.text-style(18, color.$primary);
      display: block;
      padding: $padding;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}
