@use '../constants/colors' as color;
@use '../constants/grids' as grids;

@use '../mixins/text-style' as text;
@use '../mixins/flexbox' as flex;
@use '../mixins/responsive' as res;
@use '../mixins/positions' as pos;

.product-section-header {
  @include flex.flexbox(start);
  position: relative;
  width: 100%;
  height: 64px;
  background-color: color.$white;

  .title {
    @include text.text-style(16, color.$dark);
  }

  .badge {
    @include text.text-style(16, color.$blue);
    margin-left: 8px;
  }

  .text-button,
  .icon-button {
    @include pos.pos-center-y;
    right: -#{grids.$grid-margin};

    &:active {
      opacity: 0.4;
    }
  }

  .text-button {
    @include text.text-style(14, color.$blue);
    padding: grids.$grid-margin;
    font-weight: 700;
  }

  .icon-button {
    @include flex.flexbox;
    width: 22px + (grids.$grid-margin * 2);
    height: 22px + (grids.$grid-margin * 2);
    font-size: 22px;
    color: color.$secondary;

    &.is-right {
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  @include res.responsive(T) {
    .title,
    .badge {
      @include text.text-style(18);
    }

    .text-button,
    .icon-button {
      &:hover {
        opacity: 0.4;
      }
    }

    .text-button {
      @include text.text-style(16);
    }
  }
}
