@use '../constants/colors';
@use '../constants/typography';

* {
  box-sizing: border-box;
  margin: 0;
  font-family: typography.$font-main;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: typography.$font-main;
  font-size: typography.$font-size-16;
}

body {
  font-family: typography.$font-main;
  color: colors.$primary;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}
