@use '../constants/colors' as color;
@use '../mixins/flexbox' as flex;
@use '../mixins/text-style' as text;

%tag-base {
  // 공통 스타일
  @include flex.inline-flexbox;
  @include text.text-style(12);

  height: 20px;
  padding: 0 6px;
  font-weight: 700;
  border-radius: 4px;
}

.tag-red {
  @extend %tag-base;

  color: color.$white;
  background-color: color.$red;
}

.tag-green {
  @extend %tag-base;

  color: color.$white;
  background-color: color.$green;
}

.tag-gray {
  @extend %tag-base;

  color: color.$secondary;
  background-color: color.$border;
}
