@use '../constants/colors' as color;
@use '../mixins/text-style' as text;
@use '../mixins/positions' as pos;
@use '../mixins/flexbox' as flex;
@use '../mixins/responsive' as res;
@use '../constants/box-shadows' as shadow;

.gnb {
  position: relative;
  border-bottom: 1px solid color.$border;

  &-wrapper {
    @include flex.flexbox(between);
    height: 50px;
  }

  &-right {
    .button-group {
      @include flex.flexbox(end);
    }

    .gnb-icon-button.is-search {
      margin-right: 4px;
    }
  }

  .logo {
    @include pos.pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  @include res.responsive(T) {
    // 768px

    &-wrapper {
      height: 80px;
    }

    &-left {
      @include flex.flexbox(start);
    }
    &-right {
      @include flex.flexbox(end);

      .button-group {
        margin-right: 24px;

        .gnb-icon-button {
          margin-right: 8px;
        }

        .gnb-auth {
          margin-left: 8px;

          a {
            @include text.text-style(14, color.$secondary);
            font-weight: 700;

            &:first-child {
              margin-right: 12px;
            }

            &:hover {
              color: color.$blue;
            }
          }
        }
      }
    }

    .logo {
      position: static;
      transform: none;
      margin-right: 32px;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      width: 88px;

      i {
        margin-left: 4px;
      }
    }
  }

  @include res.responsive(D) {
    // 1200px

    &-search {
      position: relative;
      width: 264px;
      margin-right: 24px;

      .input-group {
        width: 100%;
      }

      .search-history {
        position: absolute;
        left: 0;
        top: calc(100% + 8px);
        display: none;
        width: 100%;
        padding: 16px 8px 8px;
        background-color: color.$white;
        border: 1px solid color.$border;
        border-radius: 4px;
        box-shadow: shadow.$dropdown-shadow;

        &.is-active {
          display: block;
        }

        &-header {
          padding: 0 8px;
        }
      }
    }
  }
}
