// Sass Built-in
@use 'sass:math';

// Constants
@use '../constants/colors' as color;

// Mixins
@use '../mixins/text-style' as text;
@use '../mixins/positions' as pos;
@use '../mixins/flexbox' as flex;
@use '../mixins/scrollbar' as scroll;

// Layouts
@use '../layouts/grids' as grid;

.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: grid.$sm-margin + math.div(grid.$gutter, 2);

  @include scroll.no-scrollbar;
  overflow-x: auto;

  &-list {
    @include flex.inline-flexbox(start);
    height: 40px;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    margin-left: -$grid-margin;
    white-space: nowrap;
    border-bottom: 1px solid color.$border;
  }

  &-item {
    a {
      @include flex.inline-flexbox;
      @include text.text-style(13, color.$dark);
      height: 40px;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }

    &.is-active {
      a {
        color: color.$blue;
        border-bottom-color: color.$blue;
      }
    }
  }
}
