@use 'sass:math';
@use '../constants/colors' as color;
@use '../constants/dimensions' as dim;
@use '../constants/grids' as grids;
@use '../constants/z-indexes' as z;

@use '../mixins/responsive' as res;
@use '../mixins/text-style' as text;
@use '../mixins/flexbox' as flex;

.product-tab {
  $grid-margin: grids.$sm-margin + math.div(grids.$gutter, 2);

  position: sticky;
  top: dim.$gnb-height-sm + dim.$lnb-height-sm;
  z-index: z.$product-tab-level;
  width: 100%;
  height: 40px;
  background-color: color.$white;
  border-bottom: 1px solid color.$border;

  &-list {
    @include flex.flexbox;
    margin: 0 -#{$grid-margin};
  }

  &-item {
    width: calc(100% / 5);

    &.is-active {
      button {
        color: color.$blue;
        border-bottom-color: color.$blue;
      }
    }

    button {
      @include flex.flexbox;
      width: 100%;
      height: 40px;
      @include text.text-style(13, color.$dark);
      font-weight: 700;
      white-space: nowrap;
      border-bottom: 2px solid transparent;

      &:active {
        color: color.$blue;
      }
    }

    .badge {
      margin-left: 4px;
      color: color.$secondary;
    }
  }

  @include res.responsive(T) {
    top: dim.$gnb-height-md + dim.$lnb-height-md;
    height: 54px;
    background-color: color.$background;
    border-bottom: 0;

    &-list {
      margin: 0;
    }

    &-item {
      button {
        @include text.text-style(16);
        height: 54px;
      }

      .badge {
        margin-left: 8px;
      }
    }
  }

  @include res.responsive(D) {
    &-item {
      button:hover {
        color: color.$blue;
      }
    }
  }
}
